/* global */
* {
  /* font-family: 'Noto Sans', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Source Code Pro', monospace;
  margin: 0px;
}

/* navbar */
.navbar {
  background-color: rgb(17,105,160);
  border-bottom: 5px solid black;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.navLink:hover {
  background-color: black;
}

.navbar {
  align-items: center;
  display: flex;
}

.navTitle {
  align-items: center;
  display: flex;
  font-family: cursive;
  flex: 1;
  gap: 40px;
  margin-left: 30px;
  width: 100%;
}

.navWrapper {
  display: flex;
  flex: 4;
  justify-content: end;
  list-style: none;
  padding: 0px;
}

.navWrapper li {
  padding: 10px 20px;
}

.navbar a {
  color: whitesmoke;
  font-family: cursive;
  font-size: 15pt;
  text-decoration: none;
}



/* About me section */
.bodyHeader {
  align-items: center;
  font-family: cursive;
  padding: 0px 10px;
  margin-bottom: 10px;
  text-align: center;
}

#about {
  padding-top: 80px;
}

.aboutContent {
  align-items: center;
  display: flex;
  gap: 15%;
  font-size: 15pt;
  font-weight: bold;
  flex-wrap: column;
  height: 400px;
  padding: 30px 100px;
}

.aboutLeft {
  flex: 5;
  width: 75%;
}

.aboutRight {
  display: flex;
  justify-content: center;
  flex: 2;
  width: 10%;
}

#slideShow1 {
  border-radius: 2%;
  display: inherit;
  justify-content: space-around;
  height: 300px;
  width: auto;
}

#slideShow2, #slideShow3, #slideShow4 {
  border-radius: 2%;
  display: none;
  height: 300px;
  width: auto;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}


/* Projects section */
.projectsContent {
  display: flex;
  padding: 20px 100px;
}

.projectLeft {
  flex: 2;
}

.projectRight {
  flex: 3;
}

.projectHeader {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

@media only screen and (max-width: 1024px){
  .sm {
      display: none;
  }
  .smfont {
      font-size: 12pt;
  }
}