/* global */
* {
  /* font-family: 'Noto Sans', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Source Code Pro', monospace;
  margin: 0px;
}

/* navbar */
.navbar {
  background-color: rgb(17,105,160);
  border-bottom: 5px solid black;
  color: white;
  position: sticky;
  opacity: 90%;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navLink:hover {
  background-color: black;
}

.navbar {
  align-items: center;
  display: flex;
}

.navTitle {
  align-items: center;
  display: flex;
  font-family: cursive;
  flex: 1;
  gap: 40px;
  margin-left: 30px;
  width: 100%;
}

.navWrapper {
  display: flex;
  flex: 4;
  justify-content: end;
  list-style: none;
  padding: 0px;
}

.navWrapper li {
  padding: 10px 20px;
}

.navbar a {
  color: whitesmoke;
  font-family: cursive;
  font-size: 15pt;
  text-decoration: none;
}

/* Banner Section */
.banner {
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 250px;
  padding: 70px 0px 0px 50px;
}

.position {
  margin-bottom: 20px;
}

.position2 {
  margin-bottom: 40px;
}

/* About me section */
.aboutHeader {
  font-family: cursive;
  font-size: 30pt;
  margin-bottom: 30px;
  text-align: center;
}

.aboutContent {
  align-items: center;
  display: flex;
  gap: 15%;
  font-size: 15pt;
  font-weight: bold;
  flex-wrap: column;
  margin: 50px 100px 50px 100px;
}

.aboutLeft {
  flex: 3;
}

.aboutRight {
  display: flex;
  justify-content: center;
  flex: 2;
  width: 10%;
}

#slideShow1 {
  border-radius: 2%;
  display: inherit;
  justify-content: space-around;
  height: 350px;
  width: auto;
}

#slideShow2, #slideShow3, #slideShow4 {
  border-radius: 2%;
  display: none;
  height: 350px;
  width: auto;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}


/* Projects section */
.projectsHeader {
  font-family: cursive;
  font-size: 30pt;
  padding: 20px;
  text-align: center;
}

/* Green Belt Tree Care Project */
.gbtc {
  /* background-color: rgb(1, 156, 1); */
  display: flex;
  gap: 30px;
  height: 350px;
  justify-content: space-between;
  margin: 0px 50px 20px 50px;
  padding: 30px;
}

.gbtcLeft {
  /* color: whitesmoke; */
  flex: 5;
  font-size: 15pt;
  font-weight: bold;
  padding: 20px;
}

.gbtcRight {
  flex: 4;
}

.gbtcTitle {
  font-family: cursive;
  text-align: center;
  font-size: 25pt;
  margin-bottom: 20px;
}

.gbtcDesc {
  margin-bottom: 15px;
}

.listItem {
  margin-bottom: 10px;
}

.gbtcImg {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1024px){
  .sm {
      display: none;
  }
  .smfont {
      font-size: 12pt;
  }
}